<header>
    <nav>
        <!-- Left side of the navbar -->
        <div class="navbar-left">
            <a href="https://github.com/FranzLor" target="_blank" rel="noopener noreferrer">
                <img src="/icons/GitHubIcon.png" alt="GitHub Profile Pic" width="40" height="40">
            </a>
            <span>FRANZ LOR</span>
        </div>

        <!-- Right side of the navbar -->
        <div class="navbar-right">
            <a href="/#about" class="nav-link">ABOUT</a>
            <a href="/#projects" class="nav-link">PROJECTS</a>
            <a href="/#devblog" class="nav-link">DEVBLOG</a>
            <a href="https://www.nexusmods.com/users/81433168/?tab=user+files" target="_blank" rel="noopener noreferrer" class="nav-link">MODS</a>
            <a href="/#contact" class="nav-link">CONTACT</a>
        </div>

        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <div class="mobile-menu" id="mobileMenu">
        <div class="close-btn" id="closeBtn"></div>
        <a href="/#about" class="mobile-nav-link">ABOUT</a>
        <a href="/#projects" class="mobile-nav-link">PROJECTS</a>
        <a href="/#devblog" class="mobile-nav-link">DEVBLOG</a>
        <a href="https://www.nexusmods.com/users/81433168/?tab=user+files" target="_blank" rel="noopener noreferrer" class="mobile-nav-link">MODS</a>
        <a href="/#contact" class="mobile-nav-link">CONTACT</a>
    </div>
</header>